<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forecast_app</title>
</head>
<body>
    <div>
        {% if item['format_type'] == 'short' %}
            <ul>
                <li>{{item['description']}}</li>
                <li>{{item['temperature']}}</li>
            </ul>
        {% elif item['city'] == 'No such city. Please, try again' %}
            <ul>
                <li>{{item['city']}}</li>
            </ul>
        {% else%}
            <ul>
                <li>{{item['coordinates']}}</li>
                <li>{{item['country']}}</li>
                <li>{{item['temperature']}}</li>
                <li>{{item['sky']}}</li>
                <li>{{item['wind']}}</li>
            </ul>
        {% endif %}
    </div>
</body>
</html>